.googlefont{
    font-family: 'Anton', sans-serif;
}
/* Common text color */
.textGrayColor{
    color: #272727c7;
}
/* common button style */
.btn{
    padding: 15px 25px;
    color: white;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
}
/* header style */
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 100px;
}
/* header p tag style */
#header p {
    width: 630px;
}
/* header title style */
#header h2 {
    font-size: 50px;
    margin-bottom: 0;
}
/* Featured Text style */
#FeaturedText{
    text-align: center;
    margin-top: 100px;
}
/* Featured Image style */
#featuredImagePart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
#featuredImagePart img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}
#featuredImagePart p {
    text-align: center;
    text-decoration: underline;
}
#Fimg1{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #a7216256;
    border-radius: 150px 150px 0 0;
}
#Fimg2{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0598a065;
    border-radius: 150px 150px 0 0;
}
#Fimg3{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #477d1173;
    border-radius: 150px 150px 0 0;
}
/* Under the feature image section (icons part) */
#FeatureIcons{
    margin: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2727271a;
    padding-top: 30px;
}
#FeatureIcons > div{
    margin-right: 80px;
}
#FeatureIcons > div > div > img{
    width: 88px;
    height: 88px;
}
#FeatureIcons p {
    color: #272727d8;
}
/* Hot deal Style */
#hotdeal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e554731e;
}
#hotdeal img {
    width: 318px;
    height: 420px;

}
#hotDealDiv{
    text-align: center;
}
/* instagram Style */
#instagramDivText{
    text-align: center;
    margin: 80px 0 40px 0;
}
#instagramImage {
     display: flex;
    align-items: center;
    justify-content: center;
}
#instagramImage img{
    width: 260px;
    height: 300px;
    margin: 0 10px;
}
/* Latest Deals Style */
#dealsSection{
    background-image: url('/Image/Rectangle 9.png');
    height: 400px;
    width: 1100px;
    margin: 80px auto;
}
#emailInput {
    width: 500px;
    height: 44px;
    border: none;
    padding: 0 18px;
    margin-top: 30px;
}
#dealsSection div{
    text-align: center;
    padding-top: 100px;
}
/* Footer style */
#footer{
    text-align: center;
    margin-top: 90px;
    margin-bottom: -10px;
    margin-left: -10px;
    height: 250px;
    background-color: black;
    color: white;
    padding-top: 50px;
}